.income_img {
    border-radius: 30px;
    width: 100%;
    padding: 20px;
}
.income_img2 {
    border-radius: 30px;
    width: 100%;
}
.yososu_reason_section {
}

@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.title{
    font-family: 'EliceDigitalBaeum_Bold';
}

.contents{
    font-family: 'EliceDigitalBaeum_Regular';
    line-height: 40px;
}

.contents2{
    font-family: 'EliceDigitalBaeum_Regular';
}

.contents3{
    font-family: 'EliceDigitalBaeum_Regular';
    line-height: 30px;
}

