/*
Tae Kyu Park
*/

.Income_img {
    border-radius: 30px;
    width: 100%;
    padding: 20px;
}
.Income_img2 {
    border-radius: 30px;
    width: 100%;
}

.Img_source {
    font-size: 0.5em;
    text-align: end;
}

.Yososu_reason_section {
}

@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.Title{
    font-family: 'EliceDigitalBaeum_Bold';
}

.Contents{
    font-family: 'EliceDigitalBaeum_Regular';
    line-height: 40px;
}

.Contents2{
    font-family: 'EliceDigitalBaeum_Regular';
}

.Contents3{
    font-family: 'EliceDigitalBaeum_Regular';
    line-height: 30px;
}

