@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.Title{
    font-family: 'EliceDigitalBaeum_Bold';
    text-align: center;
}

.MemberInfo .Member{
    font-family: 'EliceDigitalBaeum_Regular';
    border: 1px solid gray;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.5);
}

.MemberInfo .MemberImg{
    position: relative;
    overflow: hidden;
}

.MemberInfo .SocialIcon{
    opacity: 0;
    background-color: rgba(105, 105, 105, 60%);
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 700;
    transition : all .8s linear;
}

.MemberInfo .SocialIcon ul{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.MemberInfo .SocialIcon .Icon{
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500;
}

.MemberInfo .discribe ul{
    list-style-type: none;
    padding-left: 0;

}